*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    color: rgb(255, 255, 255);
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(0, 199, 40),rgb(40, 0, 241));
    /* padding:10px; */
}

.hImage{
    height: 100px;
    width: 300px;
    
}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    /* background: linear-gradient(135deg, rgb(36, 36, 211),red);  */
    background: rgba(181, 181, 181, 0.24);
    box-shadow: 0 0 25px rgb(2, 225, 255);
}

.container .heading{
    font-size: 30px;
    
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}

.container .heading::before{
    content: '';
    position: absolute;
    height: 6px;
    left: 0;
    bottom: 0;
    width: 100%;
    background:linear-gradient(135deg, rgb(36, 36, 211),red);
}

form .card-details .card-box{
    width: calc(100% /2 -20px);
    margin-bottom: 15px;
}

.card-details .card-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.card-details .card-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid wheat;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;   
}    

.card-details .card-box input:focus,
.card-details .card-box input:valid{
    background-color: #fff;
}

form .circle-form .circle-title{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid;
}

form .circle-form .category{
    margin-top: 10px;
    margin-bottom: 10px;
}

form .button{
    text-align: center;
}

form .button input{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,rgb(30, 182, 0),rgb(39, 0, 236));
}

form .button input:hover{
    background: linear-gradient(-135deg,blue,red);
}

@media (max-width:584px) {
    .container{
        max-width: 95%;
    }
   
    form .card-details .card-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .circle-form .category{
        width: 100%;
    }
    .container form .card-details{
        max-width: 300px;
        overflow: scroll;
    }
    .card-details::-webkit-scrollbar{
        width: 0;
    }
}